In [1]:
#First Program
print("Hello World")

Hello World

In [3]:
#hello world

In [7]:
age = 23
_colour = "lilac"
total_score = 90

print(age)
print(_colour)
print(total_score)

23
lilac
90

In [6]:
age = 23
_colour = "lilac"
total_score = 90

print(age, _colour, total_score)

23 lilac 90

In [9]:
name=input("Enter your name:")
print('Hello',name,"Welcome!")

Hello Aditi Welcome!

In [2]:
a=input("Enter name:")
print(a,type(a))

Aditi <class 'str'>

In [3]:
b=int(input("Enter age:"))
print(b,type(b))

22 <class 'int'>

In [4]:
c=float(input("Enter Weight"))
print(c,type(c))

69.0 <class 'float'>

In [8]:
a=10
b=11.22
c=True
d="Hello World"
e=("Geeks","for","Geeks")
f=["Geeks","for","Geeks"]
g={"Geeks":1,"for":2,"Geeks":3}
h={1,2,3,4,5}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'dict'>
<class 'set'>

In [10]:
#Single Variable
s="Alice"
print(s)

Alice

In [14]:
#Multiple Variable
s="Bob"
age=22
City="London"
print(s)
print(age)
print("city")

Bob
22
city

In [1]:
#f-String

s="Aditi"
age =22

print(f"My name is {s}. I am {age} years old.")

My name is Aditi. I am 22 years old.

In [15]:
#Assigning multiple values to multiple variables at a time

a,b,c,d,e,f=1,2,3,4,5,6
print(a,b,c,d,e,f)

1 2 3 4 5 6

In [2]:
p,q,r=21.22,"Hello",[2,3,4]
print(p,q,r)

21.22 Hello [2, 3, 4]

In [22]:
#Taking two inputs at a time
x,y=input("Enter two values:").split()
print("Number of boys:",x)
print("Number of girls:",y)

Number of boys: 24
Number of girls: 12

In [ ]:
#Taking three inputs at a time

In [ ]:
#Converting Str to int

a="100"
print(a,type(a)) #Str

b=int(a)  #Converting Str into int
print(b,type(b))

100 <class 'str'>
100 <class 'int'>

In [24]:
#Converting Str to float

a="100"
print(a,type(a)) #Str

b=float(a)  #Converting Str into float
print(b,type(b))

100 <class 'str'>
100.0 <class 'float'>

In [25]:
#Coverting int into str

a=22
b=str(a)
#Convert integer to string
print(type(b))
#This will now show class str>
print(b) #22

<class 'str'>
22

In [26]:
#Coverting float into str

a=22.43
b=str(a)
#Convert float to string
print(type(b))
#This will now show class str>
print(b) #22

<class 'str'>
22.43

In [27]:
#Dynamic Typing

x=10
x="Hello Now"
print(x)

Hello Now

In [29]:
#Multiple Values Assignments

a=b=c=200
print(a,b,c)

200 200 200

In [30]:
#Variables

a=20
b=32

#Addition
print("Addition",a+b)
#Subtraction
print("Subtraction",a-b)
#Multiplication
print("Multiplication",a*b)
#Division
print("Division",a/b)
#Floor Division
print("Floor Division",a//b)
#Modulus
print("Modulus",a%b)
#Exponentiation
print("Exponentiation",a**b)

Addition 52
Subtraction -12
Multiplication 640
Division 0.625
Floor Division 0
Modulus 20
Exponentiation 429496729600000000000000000000000000000000

In [45]:
#Variables (user value)

a = int(input("Enter 1st  no.: "))
b = int(input("enter 2nd no :"))

# Addition
print("Addition:", a + b)

# Subtraction
print("Subtraction:", a - b)

# Multiplication
print("Multiplication:", a * b)

# Division
print("Division:", a / b)

# Floor Division
print("Floor Division:", a // b)

# Modulus
print("Modulus:", a % b)

# Exponentiation
print("Exponentiation:", a ** b)

Addition: 35
Subtraction: -11
Multiplication: 276
Division: 0.5217391304347826
Floor Division: 0
Modulus: 12
Exponentiation: 6624737266949237011120128

In [46]:
#Comparison Operator

a=20
b=30

print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [50]:
#Logical operator
#and operator

age=20
print(age > 18 and  age < 25)

True

In [51]:
#not operator

is_raining=False
print(not is_raining)

True

In [53]:
#Or operator

marks=35
print(marks>40 or marks==35)

True

In [24]:
#Left shift operator

print(7<<1)

14

In [23]:
#Right Shift operator

print(6>>2)

1

In [10]:
#Subtract and assign operator

balance=20
balance=20
print(balance)

20

In [ ]:
#Equal to equal operator

x=20
y=20
print(x==y)

True

In [ ]:
#Equal to equal operator

x=20
y=42
print(x==y)

False

In [16]:
#Addition and equal to operator

x=56
x+=45
print(x)

101

In [19]:
#Multiply and equal to operator

marks=4
marks*=6
print(marks)

24

In [21]:
#Modulus and equal to operator

count=86
count%=4
print(count)

2

In [1]:
#Assign value 10 to a variable x and print it.

x=10
print(x)

10

In [2]:
#Create a variable a with value 5.
#Use += to add 4 to it and print the result.

a=5
a+=4
print(a)

9

In [6]:
#Create a variable b with value 20.
#Use -= to subtract 7 from it.

b=20
b-=7
print(b)

13

In [7]:
#Assign 4 to num.
#Use *= to multiply it by 6.

num=4
num*=6
print(num)

24

In [8]:
#Create a variable x = 15.
#Use /= to divide it by 3."""

x=15
x/=3
print(x)

5.0

In [16]:
#Conditional statement
#if statement

age=20
if age>18:
    print("Eligible to vote")

Eligible to vote

In [19]:
#if-else statement

age=20
if age>18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Eligible to vote

In [24]:
#if-elif-else statement-used when you have multiple conditions.

marks=94
if marks>=90:
    print("Grade A")
elif marks>=60:
    print("Grade B")
elif marks>=40:
    print("Grade C")
else:
    Print("Fail")

Grade A

In [27]:
#Write a program to check if the number is positive.

num=int(input("Enter a number"))
if num>0:
    print("Number is positive")

Number is positive

In [32]:
#Check if a number is greater than 50.

num=int(input("Enter any number"))
if num>50:
    print("Number is greater than 50")

Number is greater than 50

In [31]:
#Check if a number is even.
num=int(input("Enter a number"))
if num%2==0:
    print("Number is even")

Number is even

In [34]:
#Check whether a number is even or odd.

num=int(input("Enter a number"))
if num%2==0:
    print("Number is even")
else:
    print("Number is odd")

Number is odd

In [26]:
#Check whether a number is positive or negative.

num=20
if num>0:
    print("Number is positive")
else:
    print("Number is negative")

Number is positive

In [35]:
#Check whether a person can vote or not.

age=20
if age>18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Eligible to vote

In [36]:
#Check whether a number is greater than 100 or not.

num=int(input("Enter a number"))
if num>100:
    print("Number is greater than 100")

Number is greater than 100

In [37]:
#Check whether a student is pass or fail.

marks=int(input("Enter marks"))
if marks>40:
    print("Pass")
else:
    print("Fail")

Pass

In [ ]:
#Largest of 3 numbers.(user input)

a=int(input("Enter first number,a"))
b=int(input("Enter second number,b"))
c=int(input("Enter third number,c"))

if a>b and a>c:
    print("a is greater")

elif b>a and b>c:
    print("b is greater")
else:
    print("c is greater")

c is greater

In [7]:
# Write a program that checks if a number is divisible by 3, 5, both, or none using if elif else.

num=int(input("Enter any number"))

if num%3==0 and num%5==0:
    print("Number is divisible by both")
elif num%3==0:
    print("Number is divisible by 3")
else:
    print("Number is divisible by 5")

Number is divisible by both

In [12]:
#Age Group

age=int(input("Enter age"))

if age>18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Eligible to vote

In [16]:
#Switch Case
#Weekdays

day=int(input("Enter day number"))

match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case 4:
        print("Thursday")
    case 5:
        print("Thursday")
    case 6:
        print("Friday")
    case 7:
        print("Saturday")
    case 8:
        print("Sunday")
    case _:
        print("Invalid day")

Saturday

In [18]:
#Months

month=int(input("Enter month number"))

match month:
    case 1:
        print("January")
    case 2:
        print("February")
    case 3:
        print("March")
    case 4:
        print("April")
    case 5:
        print("May")
    case 6:
        print("june")
    case 7:
        print("July")
    case 8:
        print("August")
    case 9:
        print("September")
    case 10:
        print("October")
    case 11:
        print("November")
    case 12:
        print("December")
    case _:
        print("Invalid Month")

September

In [ ]:
#Operators Switch Case
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
op = input("Enter operator (+ - * /): ")

match op:
    case "+":
        print(a+b)
    case "-":
        print(a-b)
    case "*":
        print(a*b)
    case "/":
        print(a/b)
    case _:
        print("Invalid operator")

6

In [ ]:
#Loops-Repeating the same block multiple times until the condition is satisfied.

for i in range(10):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [31]:
#for loop

for i in range(1,6):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [35]:
colors=["red","blue","green","grey"]
for i in colors:
 print("i")

i
i
i
i

In [ ]:
#print numbers from 1-10 using a for loop.

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [43]:
#print all even numbers from 1-20.
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [6]:
#while loop-A while loop is used to repeat a block of code as long as a condition is True.
#Print values from 1-10.

i = 1
while i < 11:
    print("Hello")
    print(i)
    i=i+1

    print("......")

Hello
1
......
Hello
2
......
Hello
3
......
Hello
4
......
Hello
5
......
Hello
6
......
Hello
7
......
Hello
8
......
Hello
9
......
Hello
10
......

In [7]:
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [7]:
#Print values between 23 to 78.

i=23
while i<=79:
    print(i)
    i+=1

23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79

In [55]:
#Check if the number is even or odd.

i=22
if i%2==0:
    print("even")
else:
    print("odd")

even

In [54]:
# WAP to print all the even values between 1 to 20.
#for loop

i=1
while i<=21:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [53]:
# WAP to add all the even values between 1 to 20.

for i in range(1,22):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [52]:
#WAP to find the sum of numbers from 1-10 using a loop.
#for loop

sum = 0
for i in range(1,11):
    sum += i

print("Sum of numbers from 1 to 10 =",sum)

Sum of numbers from 1 to 10 = 55

In [ ]:
#While loop
i = 1
sum = 0

while i<=10:
    sum +=i
    i+=1

print("Sum of numbers from 1 to 10 =",sum)

Sum of numbers from 1 to 10 = 55

In [6]:
#WAP to print numbers from 10-1.
#for loop

for i in range(10,0):
    print(i)

In [5]:
#While loop

i=10
while i>0:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
#Print from 5-15.

i=5
while i<15:
    print(i)
    i=i+1

5
6
7
8
9
10
11
12
13
14

In [11]:
#Print 1-10 using for and while.
#For loop

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
#While loop

i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Print even numbers from 1-30 using for and while.
#For loop

for i in range(1,30):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [16]:
#While loop

i=1
while i<31:
    if i%2==0:
        print(i)
    i=i+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [ ]:
#Print -10 to 0 using for loop and while loop.
#for loop

for i in range(-10,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0

In [ ]:
#while loop
#print(i,end" ")(for songle line output)

i=-10
while(i<1):
    print(i)
    i=i+1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0

In [29]:
#using for and While loop print numbers from -2 to -20.

#For loop

for i in range(-2,-21,-1):
    print(i)

-2
-3
-4
-5
-6
-7
-8
-9
-10
-11
-12
-13
-14
-15
-16
-17
-18
-19
-20

In [27]:
#While loop

i=-2
while(i>-21):
    print(i, end=" ")
    i=i-1

-2 -3 -4 -5 -6 -7 -8 -9 -10 -11 -12 -13 -14 -15 -16 -17 -18 -19 -20

In [28]:
i=-2
while True:
    print(i, end=" ")
    i=i-1
    if i==-21:
        break

-2 -3 -4 -5 -6 -7 -8 -9 -10 -11 -12 -13 -14 -15 -16 -17 -18 -19 -20

In [12]:
i = 1
while True:
    i = i + 1
    if i % 2 == 0:
        print(i,end= " ")
        break

2

In [13]:
#wap that prints square of number from 1-10.
#for loop

for i in range(1,11):
    print(i,"square",i*i)

1 square 1
2 square 4
3 square 9
4 square 16
5 square 25
6 square 36
7 square 49
8 square 64
9 square 81
10 square 100

In [3]:
#while loop

i=1
while(i>11):
    print(i,"square",i*i)

In [4]:
#WAP to display the multipliocation table of number displayed by user.
#for loop

n=int(input("Enter any number"))
for i in range(1,11):
      print(n,"x",i,"=",n*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [1]:
n=int(input("Enter any number"))
i=1
while(i>11):
    print(n,"x",i,"=",n*i)

In [3]:
#*
#**
#***
#****
#for loop

for i in range(1,5):
    print("*"*i)

*
**
***
****

In [4]:
#while loop

i=1
while i<=4:
    print("*"*i)
    i=i+1

*
**
***
****

In [5]:
for i in range(2):
    print("A",end=" ")
for i in range(3):
    print("B",end=" ")
for i in range(4):
    print("C",end=" ")

A A B B B C C C C

In [6]:
a="NEWSnews"

for i in a:
    if i=='N':
        print(i,"Stands for North")
    elif i=='E':
        print(i,"Stands for East")
    elif i=='w':
        print(i,"Stands for West")
    elif i=='S':
        print(i,"Stands for South")
    else:
        print("Invalid")

N Stands for North
E Stands for East
Invalid
S Stands for South
Invalid
Invalid
w Stands for West
Invalid

In [1]:
char=input("Enter your string")
vowel="aeiouAEIOU"
count=0
cons=0
for i in char:
    if i in vowel:
        count+=1
    else:
        cons+=1
        print("count of vowel char is",count)
        print("count of consonant",cons)

count of vowel char is 0
count of consonant 1
count of vowel char is 1
count of consonant 2
count of vowel char is 1
count of consonant 3

In [4]:
a="aabbbccdde"
b=" "
for i in a:
    if i not in b:
        b+=i
        print(b)

 a
 ab
 abc
 abcd
 abcde

In [5]:
a="aabbbcdde"
b=" "
for i in a:
    if a.count(i)>1 and i not in b:
        b+=i
        print(b)

 a
 ab
 abd

# Difference between for and while loop.

1.for loop is used to iterate over a sequence of items.
1.while loop is used to repeatedly execute a block of statements while a condition is true.

2.It requires a sequence to iterate over.
2.While the loop requires an initial condition that is tested at the beginning of the loop.

3.Number of iterations is known.
3.Number of iterations is not known.

4.Automatically handles increment/decrement.
4.we have to Iniatialize and update the variable.

5.Iterates over a sequence.
5.Repeats execution while a condition is true.

In [16]:
#Random generate from 1,6==>6==> ypu have to sing a song.
#if 1==> you have to dance.

import random
i=1
while True:
    num=random.randint(1,6)

    if num==1:
        print("You have to dance and this occur after",i,"And num is:",num)
        break
    elif num==6:
        print("You have to sing a song and it occured after",i)
        break
    else:
        i=i+1

You have to dance and this occur after 6 And num is: 1

In [ ]:
#WAP to print number from 1-70.Not divisible by 7.

i=1
while i<=70:
    if i%7==0:
        i=i+1
        continue
    print(i)
    i=i+1

1
2
3
4
5
6
8
9
10
11
12
13
15
16
17
18
19
20
22
23
24
25
26
27
29
30
31
32
33
34
36
37
38
39
40
41
43
44
45
46
47
48
50
51
52
53
54
55
57
58
59
60
61
62
64
65
66
67
68
69

In [30]:
#Skip printing number 5,while printing 1-10.

for num in range(1,11):
    if num==5:
        print("Skipping number 5")
        continue
    print("Current Number",num)
    print("Loop Completed")

Current Number 1
Loop Completed
Current Number 2
Loop Completed
Current Number 3
Loop Completed
Current Number 4
Loop Completed
Skipping number 5
Current Number 6
Loop Completed
Current Number 7
Loop Completed
Current Number 8
Loop Completed
Current Number 9
Loop Completed
Current Number 10
Loop Completed

# Datatype and Operator

1.Write a program to check whether a variable is of type string.
2.WAP to count datatype occurrences in a list.
3.WAP to count characters using string datatype.
4.WAP to compare two variables and display their datatypes.
5.WAP to check datatype before division.
6.WAP to use arithmetic operators for bill calculation.
7.WAP to check whether a given element is present in a list using the membership operator. 
8.WAP to swap two numbers using assignment operators.
9.WAP to check multiple conditions using logical OR.
10.WAP to display assignment operators.

In [8]:
# 1.

x = "hello"

if type(x) == str:
    print("The variable is of type string")
else:
    print("The variable is not of type string")

The variable is of type string

In [10]:
# 2.

data = [1,2.5,"hi",3,"bye",True]

count_int=0
count_str=0
count_float=0
count_bool=0

for item in data:
    if type(item)==int:
        count_int+=1
    elif type(item)==str:
        count_str+=1
    elif type(item)==float:
        count_float+=1
    elif type(item)==bool:
        count_bool+=1

print("Integers:",count_int)
print("Strings:",count_str)
print("Floats:",count_float)
print("Booleans:",count_bool)

Integers: 2
Strings: 2
Floats: 1
Booleans: 1

In [12]:
# 3.

s = "How are you"
count = 0

for ch in s:
    count +=1

print("Total characters:",count)

Total characters: 11

In [ ]:
# 4.

a = 10
b = "10"

print("a =", a,"datatype:", type(a))
print("b =",b,"datatype:", type(b))

a = 10 datatype: <class 'int'>
b = 10 datatype: <class 'str'>

In [16]:
# 5.

a = 10
b = 2

if type(a)==int and type(b)==int:
    print("Division result:",a/b)
else:
    print("Cannot divide, invalid datatype")

Division result: 5.0

In [17]:
# 6.

price = 250
quantity = 3

total = price * quantity
discount = total * 0.10
final_amount = total - discount

print("Final bill:", final_amount)

Final bill: 675.0

In [18]:
# 7.

numbers = [10, 20, 30, 40]
element = 20

if element in numbers:
    print(element, "is present in the list")
else:
    print(element, "is not present in the list")

20 is present in the list

In [ ]:
# 8.
a=int(input("Enter first number:"))
b=int(input("Enter second number: "))

print("Before swapping:a=",a,"b=",b)

# Swapping
a,b=b,a

print("After swapping: a =",a,"b=",b)

Before swapping: a = 4 b = 6
After swapping: a = 6 b = 4

In [30]:
# 9.

num=int(input("Enter a number: "))

# Check if number is less than 10 or greater than 50
if num < 10 or num > 50:
    print(f"{num} is either less than 10 or greater than 50")
else:
    print(f"{num} is between 10 and 50")

56 is either less than 10 or greater than 50

In [29]:
# 10.

x=10
y=5

print("x =",x,"y=",y)

x=x+y
print("x=x+y:",x)

x=x-y
print("x = x - y:", x)

x=x*y
print("x=x*y:",x)

x=x/y
print("x=x/y:",x)

x=x %y
print("x=x%y:",x)

x=x**y
print("x=x**y:",x)

x=x//y
print("x=x//y:",x)

x = 10 y= 5
x=x+y: 15
x = x - y: 10
x=x*y: 50
x=x/y: 10.0
x=x%y: 0.0
x=x**y: 0.0
x=x//y: 0.0