# Tuple Practise Session

In [1]:
#Write a python program to access the third element from the tuple.
#input(10,20,30,40,50)
#output:'30'

t=(10,20,30,40,50)

print(t[2])

30

In [2]:
#Write a python program to access the last element of a tuple using negative indexing.
#input:'(5,10,15,20)
#Output:'20

t=(5,10,15,20)

print(t[-1])

20

In [4]:
#Write a python program to get a slice from index 1-4(not including 4).
#input(100,200,300,400,500)
#output(200,300,400)

t=(100,200,300,400,500)
print(t[1:4])

(200, 300, 400)

In [5]:
#Write a python program to reverse a tuple using slicing.
#input(1,2,3,4,5)
#output:(5,4,3,2,1)

t=(1,2,3,4,5)
print(t[::-1])

(5, 4, 3, 2, 1)

In [25]:
#Write a python program to get every second element from a tuple using slicing.
#input(1,2,3,4,5,6)
#output(1,3,5)


t=(1,2,3,4,5,6)
print(t[::2])

(1, 3, 5)

In [24]:
#Write a python program to get the first three elements of a tuple.
#input(11,22,33,44,55)
#output(11,22,33)

t=(11,22,33,44,55)
print(t[:3])

(11, 22, 33)

In [23]:
#Write a python program to get a sub-tuple starting from the third element till the end.
#input(5,10,15,20,25,30)
#output:15,20,25,30

t=(5,10,15,20,25,30)
print(t[2:])

(15, 20, 25, 30)

In [9]:
#Write a python program to access the second last element of a tuple
#input(100,200,300,400)
#output:300

t=(100,200,300,400)
print(t[-2])

300

In [12]:
#Write a python program to create a new tuple by joining the first two and last two elements.
#input(1,2,3,4,5,6)
#output:(1,2,5,6)

t=(1,2,3,4,5,6)
new_tuple=t[:2]+t[-2:]
print(new_tuple)

(1, 2, 5, 6)

In [22]:
#Write a python program to find the sum of elements in a tuple using loop.
#input(1,2,3,4,5)
#output'15'

t=(1,2,3,4,5)
total=0
for i in t:
    total+=i
print(total)

15

In [ ]:
#Write a python program to count how many even numbers are in tuple.
#input:(10,15,20,25,30)
#output'3'

t=(10,15,20,25,30)
count=0
for i in t:
    if i%2==0:
        count+=1
print(count)

3

In [21]:
#Write a python program to multiply all elements in a tuple.
#input(2,3,4)
#output(24)

t=(2,3,4)
result=1
for i in t:
    result*=i
print(result)

24

In [20]:
#Write a python program to add corrosponding elements from two tuples of the same length and return a new tuple.
#input:(1,2,3) and (4,5,6)
#output(5,7,9)

t1=(1,2,3)
t2=(4,5,6)
result=()
for i,j in zip(t1,t2):
    result+=(i+j,)
print(result)

(5, 7, 9)

In [19]:
#Write a python program to find all elements greater than 50 in a tuple and return them in a new tuple.
#input:(20,55,60,30,75)
#output(55,60,75)

t=(20,55,60,30,75)
result=()
for i in t:
    if i>50:
        result+=(i,)
print(result)

(55, 60, 75)