In [37]:
#Tuple
#Create a tuple with 5 integers.

t=(2,3,4,5)
print(t)

(2, 3, 4, 5)

In [38]:
#Create a tuple with mixed data types.

my_tuple=(10,3.14,"Hello",True, [1,2,3])

print(my_tuple)

(10, 3.14, 'Hello', True, [1, 2, 3])

In [39]:
#Access the first and last element of a tuple.

t=(10,20,30,40)

print(t[0])   
print(t[-1])

10
40

In [40]:
#Access elements using negative indexing.

t=(10,20,30,40,50)

print(t[-1]) 
print(t[-2])  
print(t[-3])

50
40
30

In [41]:
#Slice a tuple.

t=(10,20,30,40,50)

print(t[1:4])   # elements from index 1 to 3
print(t[:3])    # from start to index 2
print(t[2:])

(20, 30, 40)
(10, 20, 30)
(30, 40, 50)

In [42]:
#Check the length of a tuple.

t=(10,20,30,40)

print(len(t))

4

In [43]:
#Check if an element exists in a tuple.

t=(10,20,30,40)

print(20 in t)

True

In [44]:
#Create a tuple with a single element.

t=(10,)   

print(t)
print(type(t))

(10,)
<class 'tuple'>

In [45]:
# Convert a list into a tuple.

lst=[10,20,30,40]

t=tuple(lst)

print(t)

(10, 20, 30, 40)

In [46]:
#Convert a tuple into a list.


t=(10,20,30,40)

lst=list(t)

print(lst)

[10, 20, 30, 40]

In [47]:
# Concatenate two tuples.

t1=(1,2,3)
t2=(4,5,6)

t3=t1+t2

print(t3)

(1, 2, 3, 4, 5, 6)

In [48]:
#Repeat a tuple using *.

t=(1,2,3)

print(t*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [49]:
#Find index of an element in tuple.

t=(10,20,30,40)

print(t.index(30))

2

In [50]:
#Count occurances of an element.

t=(10,20,30,20,40,20)

print(t.count(20))

3

In [51]:
#Delete a tuple completely.

t=(10, 20, 30)

del t

print(t)

NameError: name 't' is not defined

In [ ]:
#Dictionary

d1 = {"even":(20,30,40),
      "odd":[1,3,6],
      "null":{"ram":23,"shyam":45,"naam":24}}
print(d1)
print(len(d1))

{'even': (20, 30, 40), 'odd': [1, 3, 6], 'null': {'ram': 23, 'shyam': 45, 'naam': 24}}
3

In [ ]:
d = {
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
d["model"]

'mustang'

In [ ]:
d.get("model")

'mustang'

In [ ]:
d.values()

dict_values(['ford', 'mustang', 1964])

In [ ]:
d.items()

dict_items([('brand', 'ford'), ('model', 'mustang'), ('year', 1964)])

In [ ]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [52]:
print(max(d))

year

In [54]:
print(min(d))

brand

In [53]:
print(type(d))

<class 'dict'>

In [56]:
dict(d)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [55]:
thisdict = dict(name =  "jhon",age = 67,country = "norway")
print(thisdict)

{'name': 'jhon', 'age': 67, 'country': 'norway'}

In [57]:
d1 = {30:"ram",40:"shyam",60:"reem"}
print(sum(d1))

130

In [59]:
for i in d1:
    print(i,d1[i])

30 ram
40 shyam
60 reem

In [58]:
d = {}
d["hello"]=30
print(d)

{'hello': 30}

In [60]:
d["hyy"]=40
d

{'hello': 30, 'hyy': 40}

In [61]:
di = {}
di["ab"]=1
di["bn"]=2
di["cn"]=8
di["df"]=0
di["lm"]=5
di

{'ab': 1, 'bn': 2, 'cn': 8, 'df': 0, 'lm': 5}

In [62]:
di.values()

dict_values([1, 2, 8, 0, 5])

In [63]:
di

{'ab': 1, 'bn': 2, 'cn': 8, 'df': 0, 'lm': 5}

In [65]:
di.update({"ab":90})
di

{'ab': 90, 'bn': 2, 'cn': 8, 'df': 0, 'lm': 5}

In [64]:
di.copy()

{'ab': 1, 'bn': 2, 'cn': 8, 'df': 0, 'lm': 5}

In [66]:
di.clear()
print(di)

{}

In [67]:
d1 = {"a":3,"c":0,"b":9}
d1.pop("a")

3

In [68]:
d1.popitem()

('b', 9)

In [69]:
d3 = {}
d3.fromkeys([1,2],500)

{1: 500, 2: 500}

In [70]:
keys = ["a","b","c"]
values = [1,2,3]
d = dict.fromkeys(keys)
print(d)
d["a"]=1
d["b"]=2
d["c"]=3
print(d)

{'a': None, 'b': None, 'c': None}
{'a': 1, 'b': 2, 'c': 3}

In [71]:
d3={}
d3["hello"]=30
print(d3)
a = d3.fromkeys("f",90)
d3.update(a)
print(a)
print(d3)

{'hello': 30}
{'f': 90}
{'hello': 30, 'f': 90}